VIII semetr/.Net/Lista9/Zadanie2/student.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Company">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Student">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="2" name="Address">
                <xs:complexType>
                  <xs:attribute name="city" type="xs:string" use="required" />
                  <xs:attribute name="zip" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="20" name="Course">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="grade" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="firstName" type="xs:string" use="required" />
            <xs:attribute name="lastName" type="xs:string" use="required" />
            <xs:attribute name="index" type="xs:unsignedInt" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>